<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- to '/add' route of index.js of routes folder of post method  -->
    <!-- <form action="/add" method="post"> -->
    <form action="/addTodo" method="post">
      name: <input type="text" name="name" /><br />
      deadline: <input type="date" name="deadline" /> <br />
      points:
      <input type="number" name="points" />

      <button type="submit">submit</button>
    </form>
  </body>
</html>
